/* Imports */
@import url("imports.css");

@import url("float-grid.css");
@import url("default-settings.css");

/* Componens */
@import url("componens/footer.css");
@import url("componens/navbar.css");
@import url("componens/about.css");
@import url("componens/card.css");
@import url("componens/hero.css");
@import url("componens/team.css");
@import url("componens/client.css");
@import url("componens/rocket.css");
@import url("componens/contact.css");
@import url("componens/versions.css");

::-webkit-scrollbar {
    width: 18px;
}
  
::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, rgba(57, 55, 230, 1), rgba(198, 60, 214, 1));
    border-radius: 4px;
}

#impressum,
#datenschutz {
    background: #000;
}